footer {
    padding: 30px 0;
    /* clear: both; */
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    float: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
  }

  #contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }

#topHeader{
  text-align: center;
  background: #4aaaa5;
  color: #ffffff;
}

#connectwme {
  float: right;
  width: 100%;
  max-width: 100%;
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}

h3,
#connectwme {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

.social {
  width: 65px;
  height: 65px;
  margin-top: 8px;
  margin-right: 5px;
}

.social:last-child {
  margin-right: 0;
}




.main-section {
  float: left;
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
 
}

.aboutMeP{
  height: 50%;
  margin-bottom: 60px;
}
 @media only screen and (max-width: 500px) {
  .aboutMeP {
    width: 100%;
    margin-right: 0px;
  }
} 

#profilePic{
  float: left;
  height: 50%;
  
  padding-right: 20px;
  
}

#abme{
  color: #4aaaa5;
}

#portfoilio-links-pics{
  color: #ffffff;
  
}

#customCollapseCard2{
  color: #4aaaa5;
}

#cwm{
  color: #4aaaa5;
}

#customCollapseCard1{
  color: #4aaaa5;
}

#customCollapseCard2{
  color: #4aaaa5;
}

#customCollapseCard3{
  color: #4aaaa5;
}